Series
-- It is a one dimensional array that is capable of storing various data types.

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
x= [1,2,3,4,5]

var = pd.Series(x)
print(var)
print(type(var))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
dict = {"name": ['python', 'c', 'c++','java'], "por":[4,5,6,7], "rank": ['0','9','8','7']}

var1 = pd.Series(dict)
print(var1)

name    [python, c, c++, java]
por               [4, 5, 6, 7]
rank              [0, 9, 8, 7]
dtype: object

In [6]:
s= pd.Series(10)

print(s)

0    10
dtype: int64

When we add to series in pandas we get nan values or missing values but in numpy it gernerate error as called broadcasting error.

In [8]:
s1 = pd.Series(7, index=[1,2,3,4,5])
s2 = pd.Series(7, index=[1,2,3])

print(s1+s2)

1    14.0
2    14.0
3    14.0
4     NaN
5     NaN
dtype: float64