READ CSV

In [14]:
import pandas as pd 

csv1= pd.read_csv("/Users/prajwalsubedi/Desktop/Data science/practice code/covid_dataset.csv")
csv1

     Age  Gender  Fever   Cough       City Has_Covid
0     56    Male  102.4    Mild     Mumbai        No
1     19  Female  101.6  Strong     Mumbai        No
2     76  Female  102.0    Mild    Kolkata        No
3     65    Male   99.7    Mild  Bangalore        No
4     25  Female  102.1    Mild      Delhi       Yes
..   ...     ...    ...     ...        ...       ...
995   41    Male  102.0    Mild     Mumbai        No
996   76  Female  100.9    Mild      Delhi        No
997   35    Male  100.6    Mild    Kolkata        No
998   13  Female   99.5    Mild    Kolkata       Yes
999   55  Female  102.7  Strong    Kolkata       Yes

[1000 rows x 6 columns]

In [4]:
csv1.head()

   Age  Gender  Fever   Cough       City Has_Covid
0   56    Male  102.4    Mild     Mumbai        No
1   19  Female  101.6  Strong     Mumbai        No
2   76  Female  102.0    Mild    Kolkata        No
3   65    Male   99.7    Mild  Bangalore        No
4   25  Female  102.1    Mild      Delhi       Yes

In [8]:
csv2= pd.read_csv("/Users/prajwalsubedi/Desktop/Data science/practice code/covid_dataset.csv",  usecols= ["Age","Fever","Cough","City"])
csv2

     Age  Fever   Cough       City
0     56  102.4    Mild     Mumbai
1     19  101.6  Strong     Mumbai
2     76  102.0    Mild    Kolkata
3     65   99.7    Mild  Bangalore
4     25  102.1    Mild      Delhi
..   ...    ...     ...        ...
995   41  102.0    Mild     Mumbai
996   76  100.9    Mild      Delhi
997   35  100.6    Mild    Kolkata
998   13   99.5    Mild    Kolkata
999   55  102.7  Strong    Kolkata

[1000 rows x 4 columns]

In [9]:
csv3= pd.read_csv("/Users/prajwalsubedi/Desktop/Data science/practice code/covid_dataset.csv", index_col= "Age")
csv3

     Gender  Fever   Cough       City Has_Covid
Age
56     Male  102.4    Mild     Mumbai        No
19   Female  101.6  Strong     Mumbai        No
76   Female  102.0    Mild    Kolkata        No
65     Male   99.7    Mild  Bangalore        No
25   Female  102.1    Mild      Delhi       Yes
..      ...    ...     ...        ...       ...
41     Male  102.0    Mild     Mumbai        No
76   Female  100.9    Mild      Delhi        No
35     Male  100.6    Mild    Kolkata        No
13   Female   99.5    Mild    Kolkata       Yes
55   Female  102.7  Strong    Kolkata       Yes

[1000 rows x 5 columns]

In [10]:
csv4= pd.read_csv("/Users/prajwalsubedi/Desktop/Data science/practice code/covid_dataset.csv", names=["umer"])
csv4

                                        umer
Age Gender Fever Cough  City       Has_Covid
56  Male   102.4 Mild   Mumbai            No
19  Female 101.6 Strong Mumbai            No
76  Female 102.0 Mild   Kolkata           No
65  Male   99.7  Mild   Bangalore         No
...                                      ...
41  Male   102.0 Mild   Mumbai            No
76  Female 100.9 Mild   Delhi             No
35  Male   100.6 Mild   Kolkata           No
13  Female 99.5  Mild   Kolkata          Yes
55  Female 102.7 Strong Kolkata          Yes

[1001 rows x 1 columns]

In [23]:
csv5= pd.read_csv("/Users/prajwalsubedi/Desktop/Data science/practice code/covid_dataset.csv",dtype={"Age":"float"} )
csv5

      Age  Gender  Fever   Cough       City Has_Covid
0    56.0    Male  102.4    Mild     Mumbai        No
1    19.0  Female  101.6  Strong     Mumbai        No
2    76.0  Female  102.0    Mild    Kolkata        No
3    65.0    Male   99.7    Mild  Bangalore        No
4    25.0  Female  102.1    Mild      Delhi       Yes
..    ...     ...    ...     ...        ...       ...
995  41.0    Male  102.0    Mild     Mumbai        No
996  76.0  Female  100.9    Mild      Delhi        No
997  35.0    Male  100.6    Mild    Kolkata        No
998  13.0  Female   99.5    Mild    Kolkata       Yes
999  55.0  Female  102.7  Strong    Kolkata       Yes

[1000 rows x 6 columns]