 Dropna and Fillna

In [1]:
import pandas as pd 

var = pd.read_csv("/Users/prajwalsubedi/Desktop/Data science/Pandas code/credit(in).csv")
var

,transaction_id,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
0,1,84.47,22,Electronics,0.0,0.0,66.0,3.0,40.0,NaN
1,2,541.82,3,Travel,1.0,0.0,87.0,1.0,64.0,0.0
2,3,237.01,17,Grocery,0.0,0.0,49.0,1.0,61.0,0.0
3,4,164.33,4,Grocery,0.0,1.0,72.0,3.0,34.0,0.0
4,5,30.53,15,Food,0.0,0.0,79.0,0.0,44.0,0.0
...,...,...,...,...,...,...,...,...,...,...
9995,9996,350.91,22,Food,0.0,0.0,99.0,4.0,37.0,0.0
9996,9997,410.04,5,Clothing,0.0,0.0,70.0,3.0,25.0,0.0
9997,9998,527.75,21,Electronics,0.0,0.0,44.0,2.0,45.0,0.0
9998,9999,91.20,2,Electronics,0.0,0.0,38.0,0.0,37.0,0.0
9999,10000,44.06,2,Clothing,0.0,0.0,38.0,0.0,66.0,0.0

In [2]:
var.head()

,transaction_id,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
0,1,84.47,22,Electronics,0.0,0.0,66.0,3.0,40.0,NaN
1,2,541.82,3,Travel,1.0,0.0,87.0,1.0,64.0,0.0
2,3,237.01,17,Grocery,0.0,0.0,49.0,1.0,61.0,0.0
3,4,164.33,4,Grocery,0.0,1.0,72.0,3.0,34.0,0.0
4,5,30.53,15,Food,0.0,0.0,79.0,0.0,44.0,0.0

In [3]:
var.shape

(10000, 10)

var.dropna(axis=0) axis =0 drops rows having missing value and 1 drops columns contains missing value

and also if there is nan value in whole row then it can be removed by 
var.dropna(how="all")

var.dropna(subset=["is_fraud"]) this removes the row of a columns whose contains numm value leaving other columns null value.

var.dropna(inplace=True)
var
it revomes all null value and create new dataset. Just displays the updated DataFrame.

In [16]:
var.dropna(thresh=1)
var.head(15)

,transaction_id,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
1,2,541.82,3,Travel,1.0,0.0,87.0,1.0,64.0,0.0
2,3,237.01,17,Grocery,0.0,0.0,49.0,1.0,61.0,0.0
3,4,164.33,4,Grocery,0.0,1.0,72.0,3.0,34.0,0.0
4,5,30.53,15,Food,0.0,0.0,79.0,0.0,44.0,0.0
5,6,30.53,13,Clothing,0.0,0.0,90.0,2.0,46.0,0.0
6,7,10.77,18,Travel,0.0,0.0,48.0,1.0,28.0,0.0
7,8,362.02,13,Electronics,0.0,0.0,68.0,1.0,40.0,0.0
8,9,165.43,8,Grocery,0.0,0.0,80.0,0.0,21.0,0.0
9,10,221.63,5,Grocery,0.0,0.0,59.0,1.0,34.0,0.0
10,11,3.74,16,Grocery,0.0,0.0,58.0,2.0,28.0,0.0
11,12,630.64,18,Clothing,0.0,0.0,30.0,4.0,25.0,0.0
12,13,321.56,11,Clothing,0.0,0.0,73.0,4.0,68.0,0.0
14,15,36.12,15,Electronics,0.0,0.0,37.0,2.0,69.0,0.0
15,16,36.47,10,Clothing,0.0,0.0,36.0,2.0,66.0,0.0
16,17,65.30,21,Food,0.0,0.0,35.0,1.0,25.0,0.0

In [17]:
var

,transaction_id,amount,transaction_hour,merchant_category,foreign_transaction,location_mismatch,device_trust_score,velocity_last_24h,cardholder_age,is_fraud
1,2,541.82,3,Travel,1.0,0.0,87.0,1.0,64.0,0.0
2,3,237.01,17,Grocery,0.0,0.0,49.0,1.0,61.0,0.0
3,4,164.33,4,Grocery,0.0,1.0,72.0,3.0,34.0,0.0
4,5,30.53,15,Food,0.0,0.0,79.0,0.0,44.0,0.0
5,6,30.53,13,Clothing,0.0,0.0,90.0,2.0,46.0,0.0
...,...,...,...,...,...,...,...,...,...,...
9995,9996,350.91,22,Food,0.0,0.0,99.0,4.0,37.0,0.0
9996,9997,410.04,5,Clothing,0.0,0.0,70.0,3.0,25.0,0.0
9997,9998,527.75,21,Electronics,0.0,0.0,44.0,2.0,45.0,0.0
9998,9999,91.20,2,Electronics,0.0,0.0,38.0,0.0,37.0,0.0
9999,10000,44.06,2,Clothing,0.0,0.0,38.0,0.0,66.0,0.0